/* Global Styles */
$primary-color: #6C63FF;
$primary-hover-color: #5850ea;
$text-color: #303031;
$link-hover-color: #3e38be;
$wh-color: #fff;
$header-table:#f8f8f8;
$table-row-hover:#f1f1f1;
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
